<!DOCTYPE html>

<html>  
  <head>
    <title>Ray Bank</title>
    <link rel="icon" href="/static/ray.ico" type="image/png">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&family=Work+Sans:wght@100&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    </style>
  </head>
  
  <body> 
     <div id="rounded_frame_1">
       <input type="email" name="Email-input" placeholder="Email">
       <input type="password" name="Password-input" placeholder="Password">
       <button type="Next" class="button0" onclick="">Confirm</button>
       
       <img src="/static/ray.png"> 
      
      <div id="rounded_frame_2">
        <h1>New to Ray Bank? <a href="/register">Regsiter an account with us</a></h1>
      </div>
     </div>
    
  </body>


  <link rel="stylesheet" type="text/css" href="/static/styles/login.css" />

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&family=Work+Sans:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  
</html>
