<!DOCTYPE html>

<html>  
  <head>
    <title>Ray Bank</title>
    <link rel="icon" href="/static/ray.ico" type="image/png">
    <meta charset="utf-8"/>
    
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&family=Work+Sans:wght@100&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    </style>
  </head>
  
  <body> 
     <div id="rounded_frame_1">

       <input type="Email" name="Email-input" placeholder="Email">
       <input type="Name" name="Name-input" placeholder="Name">
       <input type="Username" name="Username-input" placeholder="Username">
       <input type="Password0" name="Password-input-0" placeholder="Password">
       <input type="password1" name="Password-input-1" placeholder="Confirm password">
       
       <button type="Next" class="button0" onclick="">Next</button>
       <img src="/static/ray.png"> 
      
      <div id="rounded_frame_2">
        <h1>Already have an account with us? <a href="/login">login</a></h1>
      </div>
     </div>
    
  </body>


  <link rel="stylesheet" type="text/css" href="/static/styles/register.css" />

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&family=Work+Sans:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  
</html>
